.usersContainer {
  background-color: var(--container-color);
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
}

.Header {
  text-align: center;
  margin-bottom: 20px;
}

.usersList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.userLink {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease-in-out;
}

.userLink:hover {
  transform: translateY(-2px);
}

.userItem {
  display: flex;
  align-items: center;
  background-color: var(--inner-container-color);
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.userItem:hover {
  background-color: var(--hover-color);
}

.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userInfo h3 {
  margin: 0;
  font-size: 16px;
}

.userInfo p {
  margin: 0;
  font-size: 14px;
  color: var(--text-label-color);
}
