.chatList {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: fit-content;
  overflow-y: auto;
}

.note{
  text-align: center;
    color: var(--secondary-color);
    font-weight: bold;
}


.chatItem {
  display: flex;
  align-items: center;
  background-color: var(--inner-container-color);
  padding: 10px;
  border-radius: 15px;
  gap: 5px;
  width: 100%;
}

.profileContainer {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  z-index: auto;
}

.profilePic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.status {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  bottom: -3px;
  right: -3px;
  border: 4px solid var(--container-color);
  display: none;
}

.online {
  background-color: green;
}

.chatInfo {
  flex: 1;
  min-width: 0;
}

.chatInfo h3 {
  margin: 0;
  font-size: 1em;
  color: var(--text-color);
}

.chatInfo p {
  margin: 0;
  font-size: 0.9em;
  color: var(--text-label-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.chatMeta {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  width: 18px;
  height: 18px;
  background-color: var(--secondary-color);
}

.notification {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: var(--text-color);
  font-weight: bold;
}

.AddButton, .viewButton  {
  width: fit-content;
  background-color: var(--secondary-color);
  font-size: 13px;
  color: var(--text-color);
  font-weight: bold;
  border-radius: 10px;
}

.AddButton:hover, .viewButton:hover {
    opacity: 0.8;
}

.viewButton {
    padding: 5px 6px;

}

.chatItem a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.chatItem .viewButton {
  margin-left: auto;
}

.noGroup {
  text-align: center;
  color: var(--secondary-color);
  font-weight: bold;
}
