.Post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: fit-content;
  width: 50%;
  background-color: var(--container-color);
  border-radius: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.editPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: fit-content;
  background-color: var(--container-color);
  border-radius: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.custumFileUpload {
  height: 160px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--SVG-color);
  background-color: var(--inner-container-color);
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

.ContentImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 160px;
  gap: 4%;
}

.custumFileUpload .selectedImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.custumFileUpload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custumFileUpload .icon svg {
  height: 40px;
  fill: var(--SVG-color);
}

.custumFileUpload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custumFileUpload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custumFileUpload input {
  display: none;
}

/*Caption*/
.Title {
  width: 80%;
  height: 40px;
}

.Title,
.TextArea {
  border: 2px solid var(--secondary-text);
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: var(--inner-container-color);
  border-radius: 10px;
  transition: all 0.5s;
  color: var(--text-color);
  font-size: 15px;
  padding: 10px;
}

.TextArea {
  height: 160px;
  width: 66%;
}

.Title:hover,
.Title:focus,
.TextArea:hover,
.TextArea:focus,
.Privacy:hover {
  border: 1px solid var(--primary-color);
  box-shadow: 0px 0px 5px 1px var(--primary-color);
}

/*Download Button*/
.DownloadButton {
  z-index: 1;
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 17px;
  color: var(--text-color);
  background: var(--primary-color);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.DownloadButton svg {
  margin-right: 8px;
  width: 20px;
  margin-bottom: 0;
}

.DownloadButton::before {
  content: "";
  width: 4px;
  height: 40%;
  background-color: var(--text-color);
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0;
  transition: all 0.2s;
}

.DownloadButton::after {
  content: "";
  width: 4px;
  height: 40%;
  background-color: var(--text-color);
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
  transition: all 0.2s;
}

.DownloadButton:hover::before,
.DownloadButton:hover::after {
  height: 60%;
}

.PrivacyTitle {
  margin-top: 5px;
  font-size: 16px;
  color: var(--text-label-color);
  margin-bottom: -5px;
}

.Privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--secondary-text);
  background-color: var(--inner-container-color);
  border-radius: 10px;
  color: var(--text-color);
  gap: 15px;
  padding: 20px;
  position: relative;
}

.Privacy div {
    display: flex;
    gap: 5px;
    font-size: 13px;
}

.Clear {
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 2px 7px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
}

.Clear:hover, .DownloadButton:hover {
    opacity: 0.8;
}

.usersListContainer {
  width: 180px;
  height: 220px;
  position: absolute;
  bottom: -70px;
  left: 300px;
  z-index: 5;
}

.errorMessage {
  color: red;
  background-color: #ffeeee;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

