.Page {
  display: flex;
  justify-content: center;
  align-items: start;
  overflow-y: auto;
  height: fit-content;
  width: 100%;
}

.PostContainer {
  position: relative;
  top: 60px;
  width: 55%;
  min-width: 600px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.pageContainer {
  background-color: var(--background-color);
  min-height: 100vh;
  color: var(--text-color);
}

.mainContent {
  width: 100%;
  max-width: 800px;
  margin: 80px auto 0;
  padding: 20px;
}
