/*Comment*/

.comment {
  display: flex;
  background-color: var(--inner-container-color);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: fit-content;
  width: 100%;
  gap: 10px;
}

.commentContentContainer {
  width: 90%;
}

.commentImageContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  width:100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: var(--container-color);
}

.username {
  font-weight: bold;
  margin-right: 8px;
}

.timestamp {
  color: var(--text-label-color);
  font-size: 0.9em;
}

.commentContent {
  margin-bottom: 10px;
  word-wrap: break-word;
  width: 100%;
}
.avatarContainer {
  width: 40px;
  height: 40px;
}

.fileContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.attachedImage {
  max-width: 100%;
  max-height: 200px;
  border-radius: 14px;
}
