.navbar {
  position: relative;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  width: 100%;
  z-index: 1; 
}

.navLogo svg {
  width: 30px;
  height: 30px;
  fill: var(--logo-color);
}

.notificationWrapper {
  position: relative;
  z-index: 1000;
}

.notificationsDropdown {
  position: fixed;
  right: 155px;
  top: 50px;
  z-index: 1000;
  width: 300px; /* Adjust as needed */
  background-color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.notificationBadge {
  position: absolute;
  bottom: -5px; /* Adjust position to fit better */
  right: -8px; /* Adjust position to fit better */
  width: 18px; 
  height: 18px; 
  z-index: 1000;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  color: var(--text-color); /* Text color */
  font-size: 11px; /* Adjust font size as needed */
  font-weight: bold;
}

.notificationPopup {
  position: fixed;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--inner-container-color);
  color: var(--text-color);;
  text-align: center;
  z-index: 9999;
  transition: all 0.3s ease;
}
.notificationPopup p {
  margin: 0;
}

.navItems {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.navItem svg {
  width: 24px;
  height: 24px;
  fill: var(--SVG-color);
}

.navItem:hover svg {
  opacity: 0.8;
}

.profileContainer {
  width: fit-content;
  padding: 10px;
  height: 32px;
  background-color: var(--container-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navProfileImage {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.navUsername {
  font-weight: bold;
  color: var(--text-color);
  font-size: 10px;
}

.searchBox {
 margin-right: 550px;
  min-width: 300px;
  position: relative;
}


.usersList {
  position: absolute ;
  min-width: 300px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--container-color);
  max-height: 500px;
  overflow-y: auto;
  color: var(--text-color);
  align-items: center;
  justify-content: left;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  overflow-y:auto;
  flex-shrink: 0;

}

.userWrapper {
  margin-bottom: 5px;
}
