.notificationsContainer {
  right: 155px;
  top: 50px;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: column;
  width: 250px;
  height: 300px;
  overflow-y: auto;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: var(--container-color);
  border-radius: 10px;
  gap: 10px;
  font-size: 11px;
  color: var(--text-color);
  border: 2px solid var(--inner-container-color);
}

.notification {
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  gap: 8px;
  background-color: var(--inner-container-color);
}

.notificationContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.notificationsubContent {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}


.notificationContent p {
  flex: 1;
}

.userImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.actionButtons {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.acceptButton,
.declineButton {
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
  font-size: 11px;
  cursor: pointer;
  font-weight: bold;
}

.acceptButton {
  background-color: var(--purple-color);
}

.declineButton {
  background-color: var(--secondary-color);
}
.acceptButton:hover,
.declineButton:hover {
  opacity: 0.8;
}

.dateTime {
  font-size: 9px;
  margin-left: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.showPreviousNotifications {
  border-top: 2px solid var(--inner-container-color);
  margin-top: 10px;
  margin-bottom: -10px;
  text-align: center;
  width: 100%;
}

.showPreviousButton {
  color: var(--text-label-color);
  border: none;
  border-radius: 20px;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: color 1s ease;
}

.showPreviousButton:hover {
  color: var(--purple-color);
}

.showPreviousButton:active {
  transform: scale(0.98);
}

.note {
  color: var(--secondary-color);
  font-weight: bold;
   
}