.ListContainer {
    display: flex;
    flex-direction: column;
    width: 190px;
    background-color: var(--container-color);
    gap: 10px;
    color: var(--text-color);
    font-size: 10px;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    border: 2px solid var(--inner-container-color);
    height: 100%;
    position: relative;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.usersList {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  flex-shrink: 0;
  position: relative;
  z-index: 1500;
}

.usersList div {
    height: 35px;
    font-size: 9px;
}

