.userItem {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--inner-container-color);
  padding: 10px;
  border-radius: 15px;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
  overflow-x: auto;
  box-sizing: border-box;
}

.userItem:hover {
  opacity: 0.6;
}

.username {
  font-size: 12px;  
  margin: 0; 
}

.profileImg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.tickContainer {
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tickIcon {
  width: 18px;
  height: 18px;
  fill: var(--primary-color);
  
}
