.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  overflow-y: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: var(--container-color);
}

.postContainer {
  box-sizing: border-box;
  border-radius: 15px;
  border: 3px solid var(--inner-container-color)
}

.CreateBtnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 60px;
  background-color: var(--container-color);
}

.CreateBtn {
  width: 80%;
  background-color: var(--purple-color);
  border-radius: 15px;
  color: var(--text-color);
  height: 80%;
  font-weight: bold;
}

.CreateBtn:hover {
    opacity: 0.8;
}

.noEvent, .noPosts{
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  
}
